.best_selling_carousel img{
  width: 100px;
  height: 180px;
  object-fit: cover;
}

.header{
  display: flex;
}

.header .navs{
  margin: auto 0px auto auto;
}

#best_selling_nav button{
  background: none;
  border: none;
 }

 #best_selling_nav button:focus{
   outline: none;
 }

 .owl-carousel .carousel-item {
  background: #fff;
  text-align: center;
}

.owl-carousel .carousel-item-text {
  padding: 12px;
}

.owl-carousel .carousel-item .item-kicker {
  color: #555555;
  display: block;
  font-size: .8em;
  font-weight: 600;
  height: 30px;
  margin-bottom: 16px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-carousel .carousel-item .item-title {
  color: #333333;
  font-size: 1em;
  font-weight: 600;
  height: 38px;
  margin: 0;
  overflow: hidden;
}

.owl-dots {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background: rgba(127, 127, 127, 1);
}

.carousel-item-image{
  background: #F0F4FA;
  border: 1px solid rgba(0,0,0,0.04);
}

.carousel-item-text{
  text-align: initial;
}
